<table class="report-table">
    <caption>堤防（河道）险情表</caption>
    <tbody>
    <tr class="title">
        <td colspan="2" ng-controller="datepicker_ctrl">
            填报时间：<input type="text" ng-model="report.current.report_time" readonly
                        datepicker-popup="{{format}}" min-date="minDate" max-date="maxDate"
                        datepicker-options="dateOptions"
                        date-disabled="disabled(date, mode)" ng-click="open($event)" is-open="opened"
                        current-text="今天" close-text="关闭" clear-text="清除">
        </td>
        <td colspan="2">
            填报人：<input type="text" ng-model="report.current.reporter"/>
        </td>
        <td colspan="2">签发：（公章）</td>
    </tr>
    <tr>
        <th>堤防名称</th>
        <td><input type="text" ng-model="report.current.dike_name"/></td>
        <th>所在位置</th>
        <td><input type="text" ng-model="report.current.dike_location"/></td>
        <th>所在河流</th>
        <td><input type="text" ng-model="report.current.dike_river"/></td>
    </tr>
    <tr>
        <th>堤防级别</th>
        <td><input type="text" ng-model="report.current.dike_level"/></td>
        <th>警戒水位</th>
        <td><input type="text" ng-model="report.current.warning_level"/></td>
        <th>保证水位</th>
        <td><input type="text" ng-model="report.current.guaranteed_level"/></td>
    </tr>
    <tr>
        <th>堤顶高程</th>
        <td><input type="text" ng-model="report.current.dike_top_height"/></td>
        <th>堤防高度</th>
        <td><input type="text" ng-model="report.current.dike_height"/></td>
        <th>断面情况</th>
        <td><input type="text" ng-model="report.current.cross_section"/></td>
    </tr>
    <tr>
        <th>出险时间</th>
        <td><input type="text" ng-model="report.current.danger_time"/></td>
        <th>出险位置</th>
        <td><input type="text" ng-model="report.current.danger_location"/></td>
        <th>险情范围</th>
        <td><input type="text" ng-model="report.current.danger_range"/></td>
    </tr>
    <tr>
        <th>险情类型</th>
        <td><input type="text" ng-model="report.current.danger_type"/></td>
        <th>河道水位</th>
        <td><input type="text" ng-model="report.current.river_level"/></td>
        <th>河流流量</th>
        <td><input type="text" ng-model="report.current.river_discharge"/></td>
    </tr>
    <tr class="details">
        <td colspan="6">
            <fieldset>
                <legend>1、雨水情</legend>
                <textarea rows="2" ng-model="report.current.rainfall_flood_regime"></textarea>
            </fieldset>
            <fieldset>
                <legend>2、对下游的影响范围、人口及重要基础设施情况</legend>
                <textarea rows="3" ng-model="report.current.impact_on_downstream"></textarea>
            </fieldset>
            <fieldset>
                <legend>3、险情简述</legend>
                <textarea rows="6" ng-model="report.current.danger_brief_introduction"></textarea>
            </fieldset>
            <fieldset>
                <legend>4、出险原因</legend>
                <textarea rows="2" ng-model="report.current.accident_causes"></textarea>
            </fieldset>
            <fieldset>
                <legend>5、抢险情况</legend>
                <textarea rows="9" ng-model="report.current.emergency_situation"></textarea>
            </fieldset>
            <fieldset>
                <legend>6、处理措施</legend>
                <textarea rows="3" ng-model="report.current.reatment_measures"></textarea>
            </fieldset>
        </td>
    </tr>
    </tbody>
</table>