<table class="report-table">
    <caption>水库出险情况统计表</caption>
    <thead>
    <tr>
        <th>序号</th>
        <th>水库名称</th>
        <th>所在地点</th>
        <th>建设时间</th>
        <th>集水面积<br>（公里²）</th>
        <th> 总库容<br>（万米³）</th>
        <th>坝型</th>
        <th>最大坝高<br>（米）</th>
        <th>出险时间</th>
        <th>险情描述</th>
        <th>出险原因</th>
        <th>处理措施</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>新华水库</td>
        <td>南昌市进贤县长山乡王桥村</td>
        <td>1965</td>
        <td>6.64</td>
        <td>894</td>
        <td>均质土坝</td>
        <td>12.5</td>
        <td>2015-05-02 16:40</td>
        <td>放水口出流失控</td>
        <td>检修闸止水漏水</td>
        <td>准备汛后更换</td>
    </tr>
    <tr>
        <td>2</td>
        <td>将被垅水库</td>
        <td>南昌市进贤县民和镇北岭村</td>
        <td>1969</td>
        <td>0.29</td>
        <td>26.6</td>
        <td>均质土坝</td>
        <td>7</td>
        <td>2015-10-02 17:32</td>
        <td>坝体下游坝脚有三处漏水点</td>
        <td>强降雨</td>
        <td>溢洪道疏通、渗漏处采用沙石反滤导渗</td>
    </tr>
    <tr>
        <td>3</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
    </tr>
    </tbody>
</table>