<table class="report-table">
    <caption>圩堤出险情况统计表</caption>
    <thead>
    <tr>
        <th>序号</th>
        <th>圩堤名称</th>
        <th>所在地点</th>
        <th>所在河流</th>
        <th>保护耕地<br>（万亩）</th>
        <th>出险时间</th>
        <th>出险位置</th>
        <th>险情描述</th>
        <th>出险原因</th>
        <th>处理措施</th>
        <th>险情解除时间</th>
        <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>马胜联圩</td>
        <td>余江县平定乡</td>
        <td>信江白塔河</td>
        <td>1</td>
        <td>2015-06-04 15:33</td>
        <td>平定段</td>
        <td>河岸坍塌</td>
        <td>迎流冲刷</td>
        <td>未处理</td>
        <td></td>
        <td>有特殊情况，暂不方便处理</td>
    </tr>
    <tr>
        <td>2</td>
        <td>雷溪联圩</td>
        <td>贵溪市雷溪乡麻雀港</td>
        <td>信江罗塘河</td>
        <td>1.7</td>
        <td>2015-09-18 20:33</td>
        <td>桂岭段</td>
        <td>河岸坍塌</td>
        <td>迎流冲刷</td>
        <td>打桩护岸</td>
        <td>2015-09-30 22:00</td>
        <td></td>
    </tr>
    <tr>
        <td>3</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
    </tr>
    </tbody>
</table>