<table class="report-table">
    <caption>圩堤出险情况累计统计表</caption>
    <thead>
    <tr>
        <th>序号</th>
        <th>圩堤名称</th>
        <th>所在地</th>
        <th>保护人口<br>（万人）</th>
        <th>保护耕地<br>（万亩）</th>
        <th>堤线长度<br>（公里）</th>
        <th>出险时间</th>
        <th>出险桩号</th>
        <th>险情类型</th>
        <th>险情描述</th>
        <th>出险原因</th>
        <th>处理措施</th>
        <th>险情解除时间</th>
        <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="14" class="first_level">长江干流提防</th>
    </tr>
    <tr>
        <td>1</td>
        <td>永安堤</td>
        <td>九江市开发区滨江村</td>
        <td>2.7</td>
        <td>3.1</td>
        <td>16.6</td>
        <td>2016-05-24 23:05</td>
        <td>23+345</td>
        <td>管涌</td>
        <td>翻混水、有泥沙。距离堤脚505m.</td>
        <td>待查</td>
        <td>反滤围井</td>
        <td>2016-05-25 23:05</td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td>益公堤</td>
        <td>庐山区</td>
        <td>2.02</td>
        <td>1.65</td>
        <td>5.06</td>
        <td>2016-05-24 23:05</td>
        <td>益公堤</td>
        <td>泡泉</td>
        <td>堤后一小水塘出现多处间隙性小泡泉眼</td>
        <td>堤外高水位</td>
        <td>规模小，跟踪监测</td>
        <td>正在监测中</td>
        <td></td>
    </tr>
    <tr>
        <th colspan="14" class="first_level">棉船洲、江新洲堤防</th>
    </tr>
    <tr>
        <td>1</td>
        <td>江新洲大堤</td>
        <td>九江县</td>
        <td>4.35</td>
        <td>6.65</td>
        <td>41.36</td>
        <td>2016-05-24 23:05</td>
        <td>北堤外围小堤，31+000桩号</td>
        <td>泡泉</td>
        <td>离堤脚150米处泡泉在处理过程中险情恶化</td>
        <td>外河水位高</td>
        <td>反滤围井</td>
        <td>2016-05-28 23:05</td>
        <td></td>
    </tr>
    <tr>
        <th colspan="14" class="first_level">鄱阳湖圩区堤防</th>
    </tr>
    <tr>
        <th colspan="14" class="second_level">10万亩以上圩堤</th>
    </tr>
    <tr>
        <td>1</td>
        <td>廿四联圩</td>
        <td>恒湖段</td>
        <td>6.5</td>
        <td>19.97</td>
        <td>91.1</td>
        <td>2016-05-24 23:05</td>
        <td>54+500</td>
        <td>浪坑</td>
        <td>30㎡</td>
        <td>风浪</td>
        <td>砾石装袋填堵</td>
        <td>2016-066-24 23:05</td>
        <td>已处理</td>
    </tr>
    <tr>
        <td rowspan="2">2</td>
        <td rowspan="2">蒋巷联圩</td>
        <td rowspan="2">南昌县</td>
        <td rowspan="2">10</td>
        <td rowspan="2">14</td>
        <td rowspan="2">95.1</td>
        <td>2016-05-24 23:05</td>
        <td>50+500</td>
        <td>箱涵透水</td>
        <td>接缝透水</td>
        <td>外河水位高</td>
        <td>卵石围井反滤</td>
        <td>2016-05-29 23:05</td>
        <td>已处理</td>
    </tr>
    <tr>
        <td>2016-05-24 23:05</td>
        <td>70+000</td>
        <td>堤内机井破裂</td>
        <td>机井口冒水</td>
        <td>外河水位高</td>
        <td>卵石围井反滤</td>
        <td>2016-05-26 23:05</td>
        <td></td>
    </tr>
    <tr>
        <td rowspan="2">3</td>
        <td rowspan="2">长乐联圩</td>
        <td>南昌县泾口乡</td>
        <td rowspan="2">18.8</td>
        <td rowspan="2">26.7</td>
        <td rowspan="2">101</td>
        <td>2016-05-28 23:05</td>
        <td>桩号51位置</td>
        <td>管涌</td>
        <td>离堤脚约30m水稻田中发现1处管涌</td>
        <td>外河水位高</td>
        <td>已做反滤，要求安排专人值守观察</td>
        <td>险情稳定</td>
        <td>继续观察</td>
    </tr>
    <tr>
        <td>彭泽县芙蓉墩镇</td>
        <td>2016-05-24 23:05</td>
        <td>桩号51位置</td>
        <td>散浸</td>
        <td>堤脚处部分渗清水</td>
        <td>外河水位高</td>
        <td>已开沟导渗，要求安排专人值守观察</td>
        <td>险情稳定</td>
        <td>继续观察</td>
    </tr>
    <tr>
        <th colspan="14" class="second_level">5~10万亩以上圩堤</th>
    </tr>
    <tr>
        <td>1</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
    </tr>
    <tr>
        <th colspan="14" class="second_level">1~5万亩圩堤</th>
    </tr>
    <tr>
        <td>1</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
    </tr>
    <tr>
        <th colspan="14" class="second_level">万亩以下圩堤</th>
    </tr>
    <tr>
        <td>1</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
        <td>......</td>
    </tr>
    </tbody>
</table>